{% extends "cart/base.html"%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        
    <title>order-summary</title>
</head>
<body>
   
    <div class="container mx-30 mt-10" > 
        <h3 class="p-4">Order Summary</h3>
    <table class="table table-hover table-borderless">
       <tr class="column">
           <th>#</th>
           <th>Item</th>
           <th>Price</th>
           <th>Quantity</th>
           <th>Total price</th>
           <th>Delete</th>
       </tr>
       {% if not object.ordered %}
       {% for order_item in object.items.all %}
       <tr>
           <th>{{forloop.counter}}</th>
           <th>{{order_item.item.title}}</th>
           <th>{{order_item.item.dis_price}}</th>
           <th>
            <a href="{% url 'cart:remove-single-item-from-cart' order_item.item.slug %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
              </svg></a>
               {{order_item.quantity}}
               <a href="{% url 'cart:add-to-cart' order_item.item.slug %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg></a>
            </th>
           <th>{{order_item.get_total_item_price}}</th>
           <th>
               <a href="{% url 'cart:remove-from-cart' order_item.item.slug %}" style="color: red;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
               </a>
           </th>

       </tr>
       {% empty %}
       <tr>
           <td colspan="5"> <b class="text-info display-5 p-3 text-center">You don't have any items in cart</b></td>
       </tr>
       <tr>
           <td colspan="5">
            <a class="btn btn-primary float-right m-5" href="/">Continue Shopping</a>


           </td>
       </tr>
       {%endfor%}
       {% endif %}
       {% if object.get_total %}
       <tr>
           <th colspan="4">Total Price</th> 
           <th>{{ object.get_total }}</th>
       </tr>
       <tr>
           <td colspan="5">
            <a class="btn btn-primary float-right ml-2" href="/">Continue Shopping</a>   
            <a class="btn btn-warning float-right" href="{% url 'cart:checkout'%}">Proceed to check out</a>
            
        
        </td>
       </tr>
       {% endif %}

    </table>
</div>
</body>
</html>
{% include "cart/footer.html"%}
{% endblock content %}